$main-color: #29B6F6;
$head-1-color: #5E35B1;
$head-2-color: #E91E63;
$head-3-color: #03A9F4;
$head-4-color: #1DE9B6;
$dark-color: #212121;

html,
body {
  height: 100%;
  width: 100%;
  background-color: $dark-color;
}

span.highlighted{
  font-size: inherit;
  color: #40C4FF;
}

.splash-screen {
  padding-top: 12rem;
  padding-bottom: 12rem;
  background: url('https://images.unsplash.com/photo-1487621167305-5d248087c724?ixlib=rb-0.3.5&q=100&fm=jpg&crop=entropy&cs=tinysrgb&s=8c9875a819c1a065765c0200942acfad') no-repeat 0px 0px fixed;
  height: 100%;
  background-size: cover;
  color: #fff;

  h1 {
    font-weight: 700;
  
    
  }

  .btn-primary {
    background: transparent;
    color: #fff;
    border: 2px #fff solid;

    :hover {
      background: #fff;
      color: $dark-color;
    }
  }
}

[class^="head"] {
  padding-top: 7rem;

  .container {
    visibility: hidden;
  }

  h1 {
    font-weight: 700;
  }
}

.head-1 {
  background-color: $main-color;
  /* background: image-url('me.jpg') no-repeat 0px -211px; */
  height: 100%;
  background-size: 136%;
  color: #fff;
  padding-top: 12rem;
  padding-bottom: 12rem;
  max-height: 100%;

  h1 {
    color: darken($main-color, 39%);
  }

  li.nav-item, {
    color: $dark-color;
    font-size: 3rem;

    :hover, 
    :focus {
      color: darken($main-color, 39%);
    }

  }
}

.head-2 {
/*  background: image-url('su.jpg') no-repeat center center; */
  background-color: #E91E63;
  background-size: cover;
  height: 100%;
  padding-top: 25rem;
  max-height: 100%;

  .container { visibility: visible; }

  .shadow {
     color: white;
     font-family: "Bebas Neue", sans-serif;
     font-weight: bold;
     font-size: 9.4rem;
     line-height: 0.0;
     padding-left: 0.7rem;
     padding-right: 0.7rem;
     text-shadow: 1px 1px #F50057,
                  2px 2px #F50057,
                  3px 3px #F50057;
     -webkit-transition: all 0.12s ease-out;
     -moz-transition:    all 0.12s ease-out;
     -ms-transition:     all 0.12s ease-out;
     -o-transition:      all 0.12s ease-out;
     background-color: rgba(33, 33, 33, 0.6);
     box-decoration-break: clone;
     -webkit-box-decoration-break: clone;
     display: inline;

  }

  .shadow:hover {
     position: relative;
     top: -3px;
     left: -3px;
     text-shadow: 1px 1px #F50057,
                  2px 2px #F50057,
                  3px 3px #F50057,
                  4px 4px #F50057,
                  5px 5px #F50057,
                  6px 6px #F50057;
     background-color: rgb(33, 33, 33);
     box-shadow: 1px 1px #F50057,
                 2px 2px #F50057,
                 3px 3px #F50057,
                 4px 4px #F50057,
                 5px 5px #F50057,
                 6px 6px #F50057;
  }
}

.head-3 {
  background-color: $head-3-color;
  color: $dark-color;

  .display-2:first-child {
    color:#01579B;
  }

  .icon {
    font-size: 9rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    i[class^="devicon"] {
      background-color: #01579B;
      color: #fff;
      padding: 3rem;
      border-radius: 1000px;

      :hover {
        background-color: $dark-color;
      }

    }
  }

}

.head-4 {
  background-color: $dark-color;

  h1 {
    color: $head-4-color;
  }

  .lead {
    color: #fff;
  }

  .card .card-img-top {
    max-height: 200px;
    max-width: 348px;
    object-fit: cover;
  }
}