<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta property="article:author" content="https://facebook.com/slapden" />
    <meta property="description" content="<%= current_page.data.description || 'This is from nedpals.gitlab.io' %>" />
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Hi!" %></title>

    <link href="https://fonts.googleapis.com/css?family=Bungee|Fugaz+One|Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/BPreplay:400,700,400i">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css" rel="stylesheet">

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :tachyons %>
    <%= stylesheet_link_tag :animate %>
  </head>

  <body class="white mw-100 mw8-ns center mt6 mt5-l pa3 ph5-ns <%= page_classes %>">
    <%= yield %>
    <footer class="fl pv5 ph3 ph5-m ph6-l">
      <p class="f6 db tc">&copy;
        <%= Time.now.year %> Made with ♥ by Ned Palacios.
        <br> This page is hosted on <a class="link white-60 hover-white" href="https://pages.gitlab.io"><b>Gitlab</b></a> and is generated using <a class="link white-60 hover-white"  href="https://middlemanapp.com"><b>Middleman</b></a>. Source code of the website is found <a class="link white-60 hover-white"  href="https://gitlab.com/nedpals/nedpals.gitlab.io">here</a>.
      </p>
    </footer>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.1.1.slim.min.js" %>
    <%= javascript_include_tag 'jquery.waypoints.min' %>
    <%= javascript_include_tag :all %>
  </body>
</html>
