html,
body {
  height: 100%;
  width: 100%;
  background-color: #212121; }

span.highlighted {
  font-size: inherit;
  color: #40C4FF; }

.splash-screen {
  padding-top: 12rem;
  padding-bottom: 12rem;
  background: url("https://images.unsplash.com/photo-1487621167305-5d248087c724?ixlib=rb-0.3.5&q=100&fm=jpg&crop=entropy&cs=tinysrgb&s=8c9875a819c1a065765c0200942acfad") no-repeat 0px 0px fixed;
  height: 100%;
  background-size: cover;
  color: #fff; }
  .splash-screen h1 {
    font-weight: 700; }
  .splash-screen .btn-primary {
    background: transparent;
    color: #fff;
    border: 2px #fff solid; }
    .splash-screen .btn-primary :hover {
      background: #fff;
      color: #212121; }

[class^="head"] {
  padding-top: 7rem; }
  [class^="head"] .container {
    visibility: hidden; }
  [class^="head"] h1 {
    font-weight: 700; }

.head-1 {
  background-color: #29B6F6;
  /* background: image-url('me.jpg') no-repeat 0px -211px; */
  height: 100%;
  background-size: 136%;
  color: #fff;
  padding-top: 12rem;
  padding-bottom: 12rem;
  max-height: 100%; }
  .head-1 h1 {
    color: #043b55; }
  .head-1 li.nav-item {
    color: #212121;
    font-size: 3rem; }
    .head-1 li.nav-item :hover,
    .head-1 li.nav-item :focus {
      color: #043b55; }

.head-2 {
  /*  background: image-url('su.jpg') no-repeat center center; */
  background-color: #E91E63;
  background-size: cover;
  height: 100%;
  padding-top: 25rem;
  max-height: 100%; }
  .head-2 .container {
    visibility: visible; }
  .head-2 .shadow {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 9.4rem;
    line-height: 0.0;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    text-shadow: 1px 1px #F50057, 2px 2px #F50057, 3px 3px #F50057;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition: all 0.12s ease-out;
    -ms-transition: all 0.12s ease-out;
    -o-transition: all 0.12s ease-out;
    background-color: rgba(33, 33, 33, 0.6);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline; }
  .head-2 .shadow:hover {
    position: relative;
    top: -3px;
    left: -3px;
    text-shadow: 1px 1px #F50057, 2px 2px #F50057, 3px 3px #F50057, 4px 4px #F50057, 5px 5px #F50057, 6px 6px #F50057;
    background-color: #212121;
    box-shadow: 1px 1px #F50057, 2px 2px #F50057, 3px 3px #F50057, 4px 4px #F50057, 5px 5px #F50057, 6px 6px #F50057; }

.head-3 {
  background-color: #03A9F4;
  color: #212121; }
  .head-3 .display-2:first-child {
    color: #01579B; }
  .head-3 .icon {
    font-size: 9rem;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    .head-3 .icon i[class^="devicon"] {
      background-color: #01579B;
      color: #fff;
      padding: 3rem;
      border-radius: 1000px; }
      .head-3 .icon i[class^="devicon"] :hover {
        background-color: #212121; }

.head-4 {
  background-color: #212121; }
  .head-4 h1 {
    color: #1DE9B6; }
  .head-4 .lead {
    color: #fff; }
  .head-4 .card .card-img-top {
    max-height: 200px;
    max-width: 348px;
    object-fit: cover; }
