---
title: Ned Palacios
---
<% data.about_me.info.map { |m| current_page.metadata[:page][:description] = "I'm #{m.age} years old. Lives in #{m.place}. Loves to ruin time. xD" } %>
<div class="vh-100 dt w-100 mb0 mb3-m" id="main">
  <% data.about_me.info.map do |my| %>
  <h1 class="mb0 f1 f-headline-ns lh-solid">
  Hi my name's <span class="highlighted"><%= my.first_name %></span>. Welcome.
  </h1>
  <h3 class="mt0 mb3 f3 f2-ns fw5 white-60 measure">I'm <%= my.age %> years old. Lives in <%= my.place %>. <br>Loves to ruin time. xD</h3>
  <% end %>
  <div class="w-100">
  <% data.about_me.social_links.each do |sc| %>
    <a class="link white-60 bg-transparent hover-white inline-flex tc br2 pa1" href="<%= sc.link %>" title="<%=  %>">
      <i class="fa fa-<%= sc.icon %> fa-lg fa-2x dib h2 w2"></i>
      <span class="f4 f3-m ml2 pr3"><%= sc.nick %></span>
    </a>
    <% end %>
  </div>
</div>
<div class="mb6">
  <div class="fl w-100 w-50-ns pa2 ba bt-1 bl-0 br-1 bb-0 b--dashed b--light-gray" id="sk">
    <h2 class="ml2 f4 f3-ns f2-l lh-title tc tl-m measure">
    My hobbies are <br>
    <% data.about_me.hobbies.each do |h| %>
      <span class="fw3"><%= h %><br></span>
    <% end %>
    </h2>
  </div>

  <div class="fl w-100 w-50-ns pa2 ba bt-1 bl-0 bb-0 b--light-gray b--dashed" id="t">
    <h2 class="tc ml2 f4 f3-ns lh-title">Tools used</h2>
    <ul class="list center">
    <% data.about_me.tools.each do |t| %>
      <li class="dib tc ph2 ph4-ns">
        <h2 class="f7 f3-ns">
          <i class="<%= t.icon %> f1"></i>
          <br/>
          <%= t.name %>
        </h2>
      </li>
    <% end %>
    </ul>
    <h3 class="white-80 tc fw3">*walang forever</h3>
  </div>

  <div class="fl w-100 ph3 pt3 pb0 ba bt-1 bl-2 br-0 bb-0 b--dashed b--light-gray" id="l">
    <div class="fl w-100 tc">
      <h1 class="ml2-ns f3 f2-ns lh-solid measure">"Hey yo watch yo langwing"</h1>
    </div>
    <div class="fl w-100 tc-l">
      <ul class="list center pl4">
      <% data.about_me.languages.each do |l| %>
        <li class="dib tc pl4">
          <h2 class="f5 f3-ns">
            <i class="<%= l.icon %> f1 f-subheadline-ns"></i>
            <br />
            <%= l.name %>
          </h2>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="fl w-100 pt0 ph3 pb3 ba bt-0 bl-2 br-0 bb-1-ns b--dashed b--light-gray" id="f">
    <h2 class="ml2 f3 lh-title tc mb1">Frameworks</h2>
    <ul class="list pl0-ns tc">
    <% frameworks_count = data.about_me.frameworks.each.count %>
    <% data.about_me.frameworks.each do |f| %>
      <li class="dib pr3 mr1 tc">
        <h2 class="f5 f3-ns mv0">
          <i class="<%= f.icon %> f2 f-subheadline-ns mb1"></i>
          <br />
          <%= f.name %> 
        </h2>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="fl w-100 pa2" id="p">
    <h1 class="f1 f-subheadline-ns f-headline-l measure l-title tc">Projects</h1>
    <% data.about_me.projects.each do |p| %>
      <div class="fl w-100 h4 w-50-ns pv1 ph3 ba bt-0 bl-2 br-0 bb-1 b--dashed b--light-gray">
        <h3 class="f3 mv2 lh-title">
          <%= p.name %>
          <% if !p.repo.nil? %>
            <a class="link white-60 hover-white" href="<%= p.repo %>">
                <i class="devicon-git-plain"></i>
            </a>
          <% end %>
          <small class="f5 fw5 white-80"><%= p.status %></small>
        </h3>
        <a class="link white-60 hover-white" href="<%= p.link %>"><%= p.link %></a>
        <p><%= p.description %>
      </div>
    <% end %>
  </div>
</div>